body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#campanella {
  width: 35px;
  height: 35px;
  font-size: 13px;
}

.avatar {
  width: 35px;
  height: 35px;
}

h1 {
  font-size: 2.8rem;
  line-height: 1em;
}

.hero-button {
  font-size: 15px;
}

.card-text i:last-child {
  margin-right: 40px;
}

footer ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
}
