html,
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header img {
  width: 10%;
  margin: 0;
}
header nav {
  color: #004d4b;
  background-color: #fdfbf1;
  line-height: 4.5em;
  border-top: 2px solid #ffd777;
}
header nav a {
  color: #004d4b;
  text-decoration: none;
  font-weight: bolder;
}
header p span {
  text-transform: uppercase;
  font-weight: bold;
}

main {
  width: 45vw;
  margin: 0 auto;
}

.big-title {
  margin: 2em auto 1em;
  width: 60%;
}

.introduction {
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: left;
}
.main-image {
  margin: 0;

  width: 100%;
}
.main-image img {
  width: 100%;
  box-shadow: 2px 2px black;
}

.main-image figcaption {
  color: #999999;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.other-info {
  border-left: 2px solid #ffd777;
  padding-left: 1em;
}
.other-info p {
  text-align: left;
  margin-bottom: 0.5em;
}
.other-info a {
  display: block;
  text-align: left;
}

.red {
  color: #b5460f;
}

.green {
  color: #107777;
}

.section {
  text-align: left;
  margin-top: 3.5em;
}

.section h2 {
  line-height: 3.5em;
  border-bottom: 1.5px solid #c3f3f1;
  margin-bottom: 2em;
}

#method {
  margin-top: 0;
}

ul {
  line-height: 3em;
}
