/* versione desktop 1440px */

/* generale */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #191919;
}
/* header*/
header {
  text-align: center;
  background-color: #ffc017;
  padding: 1.2em 0;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 1;
}
#contenitore-ridotto,
.container-flex,
.trending,
#section-container {
  width: 80%;
  margin: 0 auto;
}

#contenitore-ridotto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  display: flex;
  gap: 2em;
  align-items: center;
}

a {
  text-decoration: none;
  color: #191919;
}

#linkStarted {
  color: white;
  background-color: #191919;
  padding: 10px;
  border-radius: 20px;
}

/* MAIN */
main {
  padding-bottom: 7em;
}
/* hero*/

.hero {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  margin-bottom: 2em;
  overflow: hidden;
}

.container-flex {
  display: flex;

  margin-bottom: 2em;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  gap: 2em;
  justify-content: center;
}
.artwork {
  transform: scale(1.3);
  width: 45%;
  position: relative;
  right: -240px;
  top: 50px;
}
.content a {
  color: white;
  background-color: #191919;
  padding: 10px 40px;
  border-radius: 20px;
  width: 100px;
}

.content h1 {
  font-size: 6em;
  font-family: "Spectral", serif;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
}
.content p {
  margin: 0;
  font-size: 1.2em;
  width: 60%;
}

/* trending */

.trending {
  padding-bottom: 3em;
}
.trending .p-img p {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
}
.containerOther {
  width: 100%;

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.schede-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.p-img {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
}
.scheda .numero p {
  font-size: 1.7em;
  margin: 0;
  opacity: 0.3;
  font-weight: bold;
}
.scheda {
  display: flex;
  gap: 30px;
  width: 32%;
  align-items: flex-start;
}
.scheda p {
  margin: 0;
}

.scheda p:nth-child(2) {
  font-weight: bold;
}
.scheda p:nth-child(3) {
  color: #757575;
  font-size: 0.8em;
}
.img-profile {
  width: 20px;
}
.scheda-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-img-p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}
.scheda .scheda-text .profile-img-p img {
  border-radius: 50%;
  width: 100%;
}

.containerOther .span,
#left-section span {
  color: #757575;
}
.star {
  vertical-align: middle;
}

/* Sezioni  */

#section-container {
  display: flex;

  gap: 150px;
}
#left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#left-section .scheda {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.big {
  font-size: 1.6em;
}
#left-section .scheda p:nth-child(3) {
  color: #757575;
  font-size: 1em;
}

.arrotondato {
  background-color: #f2f3f3;
  border-radius: 40px;
  padding: 4px 10px;
  margin-left: 2px;
}

#left-section .scheda-text {
  width: 70%;
  position: relative;
  flex-shrink: 0;
}

#left-section .immagine-grande {
  width: 140%;
}

.contenitore-p {
  display: flex;
  justify-content: space-between;
}

.contenitore-p p {
  color: #757575;
  font-size: 0.8em;
}
/* right section */

#right-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 100px;
}
#right-section p {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
}

#right-section .contenitore-rettangoli p {
  border: 1px solid #f2f3f3;
  padding: 1em;
  border-radius: 3px;
  margin: 0;
  color: #757575;
  font-weight: normal;
}
.contenitore-rettangoli {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 75%;
  border-bottom: 1px solid #f2f3f3;
  padding-bottom: 2em;
}

#right-section nav ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
  gap: 15px;
  flex-wrap: wrap;
  color: #757575;
  font-size: 0.7em;
  width: 80%;
  font-weight: normal;
}

#right-section nav ul li a {
  color: #757575;
  letter-spacing: 1px;
}
/* artwork mobile */
@media screen and (max-width: 576px) {
  .artwork {
    display: none;
  }

  /* mobile */
  @media screen and (max-width: 576px) {
    header {
      padding: 0.2em 0;
    }

    #contenitore-ridotto nav ul li:nth-child(1),
    #contenitore-ridotto nav ul li:nth-child(2),
    #contenitore-ridotto nav ul li:nth-child(3) {
      display: none;
    }
  }

  #contenitore-ridotto,
  .container-flex,
  .trending,
  #section-container {
    width: 90%;
  }
  main {
    padding-bottom: 7em;
  }
  /* hero*/

  .container-flex {
    display: flex;
    margin-bottom: 2em;
  }
  .container-flex .content {
    width: 100%;
    padding-top: 3em;
  }

  .content h1 {
    font-size: 4em;
  }

  /* trending */

  .scheda {
    width: 100%;
  }

  /* Sezioni  */

  #section-container {
    flex-direction: column;
    gap: 10px;
  }
  #left-section {
    width: 90%;
    gap: 50px;
  }

  /* right section */

  #right-section {
    width: 100%;
    position: static;
    order: -1;
  }
  .contenitore-rettangoli {
    width: 90%;
  }
  .contenitore-altro-testo {
    width: 90%;
  }

  /* tablet */
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  header {
    padding: 0.5em 0;
  }
  #contenitore-ridotto,
  .container-flex,
  .trending,
  #section-container {
    width: 90%;
  }

  main {
    padding-bottom: 7em;
  }
  /* hero*/

  .container-flex {
    display: flex;
    margin-bottom: 2em;
  }
  .container-flex .content {
    padding-top: 3em;
    width: 60%;
  }
  .container-flex .content p {
    width: 90%;
  }

  .artwork {
    transform: scale(1.6);
    width: 50%;
    position: relative;
    right: -140px;
    top: 60px;
  }

  .content h1 {
    font-size: 4em;
  }

  /* trending */

  .scheda {
    width: 48%;
  }

  /* Sezioni  */

  #section-container {
    flex-direction: column;
    gap: 10px;
  }
  #left-section {
    width: 90%;
    gap: 50px;
  }

  /* right section */

  #right-section {
    width: 100%;
    position: static;
    order: -1;
  }
}
