/* versione desktop 1440px */

/* generale */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #191919;
}
/* header*/
header {
  text-align: center;
  width: 100%;
  background-color: #ffc017;
  padding: 1.2em 0;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 1;
}
#contenitore-ridotto {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contenitore-ridotto .logo {
  text-align: left;
}

header nav ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  display: flex;
  gap: 2em;
  align-items: center;
}

a {
  text-decoration: none;
  color: #191919;
}

header nav ul li:nth-child(5) a {
  color: white;
  background-color: #191919;
  padding: 10px;
  border-radius: 20px;
}

/* MAIN */

/* hero*/

.hero {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  margin-bottom: 2em;
}
.container-flex {
  width: 80%;
  margin: 0 auto;
  display: flex;

  margin-bottom: 2em;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  gap: 2em;
  justify-content: center;
}
.artwork {
  width: 45%;
  position: relative;
  right: -210px;
}
.content a {
  color: white;
  background-color: #191919;
  padding: 10px 40px;
  border-radius: 20px;
  width: 100px;
}

.content h1 {
  font-size: 6em;
  font-family: "Spectral", serif;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
}
.content p {
  margin: 0;
  font-size: 1.2em;
  width: 60%;
}

/* trending */

.trending {
  width: 80%;

  margin: 0 auto;
  padding-bottom: 3em;
}
.trending .p-img p {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
}
.containerOther {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.schede-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.p-img {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
}
.scheda .numero p {
  font-size: 1.7em;
  margin: 0;
  opacity: 0.3;
  font-weight: bold;
}
.scheda {
  display: flex;
  gap: 30px;
  width: 32%;
  align-items: flex-start;
}
.scheda p {
  margin: 0;
}

.scheda p:nth-child(2) {
  font-weight: bold;
}
.scheda p:nth-child(3) {
  color: #757575;
  font-size: 0.8em;
}
.img-profile {
  width: 20px;
}
.scheda-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-img-p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}
.scheda .scheda-text .profile-img-p img {
  border-radius: 50%;
  width: 100%;
}

.containerOther .span,
#left-section span {
  color: #757575;
}
.star {
  vertical-align: middle;
}

/* Sezioni  */

#section-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  gap: 100px;
}
#left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#left-section .scheda {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.big {
  font-size: 1.6em;
}
#left-section .scheda p:nth-child(3) {
  color: #757575;
  font-size: 1em;
}
#left-section .scheda p:nth-child(4) {
  color: #757575;
  font-size: 0.8em;
}

.arrotondato {
  background-color: #f2f3f3;
  border-radius: 40px;
  padding: 4px 10px;
}

.bookmark {
  vertical-align: middle;
  position: absolute;
  right: 0;
}

#left-section .scheda-text {
  width: 60%;
  position: relative;
  flex-shrink: 0;
}

#left-section .immagine-grande {
  width: 100%;
}

/* right section */

#right-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0vh;
  z-index: 1000;
}
#right-section p {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
}

#right-section .contenitore-rettangoli p {
  border: 1px solid #f2f3f3;
  padding: 1em;
  border-radius: 3px;
  margin: 0;
  color: #757575;
}
.contenitore-rettangoli {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 75%;
  border-bottom: 1px solid #f2f3f3;
  padding-bottom: 2em;
}

#right-section nav ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
  gap: 15px;
  flex-wrap: wrap;
  color: #757575;
  font-size: 0.7em;
  width: 80%;
  padding-left: 1em;
  font-weight: 700;
}

#right-section nav ul li a {
  color: #757575;
}
