<div class="container mt-3">
  <h1 class="text-success">Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      required
      class="form-control"
      ngModel
    />
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      class="form-control"
      ngModel
    />
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-success mt-4"
    >
      Login
    </button>
  </form>
</div>
