<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white"
      [routerLink]="['/']"
      routerLinkActive="active"
      >To-Dos</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-white link-offset-3"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All todos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white link-offset-3"
            [routerLink]="['/completed']"
            routerLinkActive="active"
          >
            <i class="bi bi-check-square me-2 text-success"></i>See how much
            we've accomplished!</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white link-offset-3"
            [routerLink]="['/incompleted']"
            routerLinkActive="active"
            ><i class="bi bi-x-square me-2 text-danger"></i>What's left?</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white link-offset-3"
            [routerLink]="['/users']"
            routerLinkActive="active"
            ><i class="bi bi-person me-2 text-primary"></i>By User</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
