@import "colori";
@import "spaziature";
@import "font";
@import "generico";
@import "buttons";
header {
  background-color: $bg-hero;
  @include padding;
  margin-bottom: 150px;
}
header nav {
  @include flex-80;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  gap: 20px;
}
header p {
  color: $testo;
  opacity: $opacity;
  width: 70%;
}
nav ul li a {
  color: $testo;
  opacity: $opacity;
  text-decoration: none;
}

header h1 {
  @include bigTitle;
  font-family: $font-Arial;
}

.container {
  @include flex-80;
  position: relative;
}

header .container .container-img {
  width: 35%;
  position: absolute;
  right: -50px;
  top: 60px;
}

// @mixin floating($border-radius: none, $box-shadow: none, $border: none) {
//   border-radius: $border-radius;
//   box-shadow: $box-shadow;
//   border: $border;
// }

.container-img img {
  width: 100%;
  @include floating(
    10px,
    5px 1px 10px rgb(0, 0, 0),
    1px solid rgb(220, 102, 249)
  );
}

button:nth-child(1) {
  @include buttonGenerico(#0e6cff);
  color: $testo;
}
button:nth-child(2) {
  @include buttonGenerico(#ff8700);
  color: $testo;
}
button:nth-child(3) {
  @include buttonGenerico(#4caf50);
  color: $testo;
}
