<div class="container">
  <div class="row g-1">
    <div class="col-12" *ngFor="let post of posts">
      <div class="card border-1 bg-success" *ngIf="post.active">
        <div class="card-body">
          <h6 class="card-subtitle text-info-emphasis mb-1"></h6>
          <h5 class="card-title fs-3">{{ post.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Reactions: {{ post.reactions }}
          </h6>
          <p class="card-text">{{ post.body.slice(0, 150) }}</p>
          <a [routerLink]="['/post', post.id]" class="card-link text-white">{{
            post.id
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
