<div
  class="container mt-4 d-flex flex-column align-items-center justify-content-center gap-2"
>
  <h1>Users</h1>
  <div class="d-flex gap-2">
    <div *ngFor="let user of users" class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.email }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Id: {{ user.id }}
        </h6>
      </div>
    </div>
  </div>
</div>
