body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

body,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
a,
p {
  color: white;
}

.logo-bar,
nav,
.back-to-top,
.footer-img {
  width: 100%;
}

.logo-bar,
nav {
  padding: 0.5rem 1.8rem;
}

.logo-bar,
.footer-img {
  background-color: #222f3f;
}

nav,
.back-to-top {
  background-color: #354758;
}
nav ul li,
.cards p,
.single-card,
figcaption p {
  display: inline-block;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a,
.cards a,
figcaption a {
  text-decoration: none;
}

main,
.cards-container,
.holiday-green,
footer {
  text-align: center;
}
main {
  width: 95%;
  padding: 1rem;
  margin: 0 auto;
}
.orange-rectangle,
.holiday-green,
.cards,
.banner {
  margin-bottom: 2rem;
}

.orange-rectangle {
  background-color: #f56600;
}

.orange-rectangle p {
  padding: 0.3rem;
}

.holiday-green {
  background-image: url(../images/bg-image.png);
  background-size: contain;
  background-repeat: repeat;
  padding: 3.2rem;
}

h1 {
  font-size: 2rem;
}
.cards {
  text-align: left;
  background-color: white;
}

.cards p,
figcaption p {
  color: black;
  margin-right: 1rem;
}
.cards p {
  font-size: 1.2rem;

  padding: 1.5rem 1.5rem 0;
}
.cards a,
figcaption a {
  color: #0c5567;
  font-weight: bold;
}

.single-card {
  width: 20%;
  height: 20rem;
  background-size: cover;
  border-radius: 5%;
  margin: 1rem;
  background-position-x: center;
  box-shadow: 2px 2px 5px grey;
}
#single-card-1 {
  background-image: url(../images/img_1.jpg);
}

#single-card-2 {
  background-image: url(../images/img_2.jpg);
}

#single-card-3 {
  background-image: url(../images/img_3.jpg);
}
#single-card-4 {
  background-image: url(../images/img_4.jpg);
}

#second-banner {
  margin-bottom: 1rem;
}

.back-to-top {
  padding: 0.6rem 1.8rem;
}
.footer-img {
  padding: 2rem;
}
